@CHARSET "UTF-8";

/*
REF http://stackoverflow.com/questions/13491421/cakephp-create-simple-buttons-that-redirects-to-views answered Nov 21 '12 at 11:22
*/ 
a.button {
    color: #4e4e4e;
    /*color: #6e6e6e;*/
    font: bold 20px Helvetica, Arial, sans-serif;
    text-decoration: none;
    padding: 7px 12px;
    position: relative;
    display: inline-block;
    text-shadow: 0 1px 0 #fff;
    -webkit-transition: border-color .218s;
    -moz-transition: border .218s;
    -o-transition: border-color .218s;
    transition: border-color .218s;
    background: #81BEF7;
    
    border: solid 1px #86B404;
    /*border: solid 1px #dcdcdc;*/
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    margin-right: 20px;
    cursor:pointer;
}

a.button_controller {
    color: #4e4e4e;
    /*color: #6e6e6e;*/
    font: bold 20px Helvetica, Arial, sans-serif;
    text-decoration: none;
    padding: 7px 12px;
    position: relative;
    display: inline-block;
    text-shadow: 0 1px 0 #fff;
    -webkit-transition: border-color .218s;
    -moz-transition: border .218s;
    -o-transition: border-color .218s;
    transition: border-color .218s;
    background: #81BEF7;
    
    border: solid 1px #86B404;
    /*border: solid 1px #dcdcdc;*/
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    margin-right: 15px;
    margin-bottom: 15px;
    cursor:pointer;
}

img.button_controller {
    
    cursor:pointer;
    
    width:	42px;
    
    margin-right: 15px;
    
}

a#button_play {
	
    color: blue;
    
}

a#button_stop {
	
    color: #B40404;
    
}

a#button_save_current_time {
	
    color: #088A08;
    
}

/*
background: -webkit-gradient(linear,0% 40%,0% 70%,from(#F5F5F5),to(#F1F1F1));
    background: -moz-linear-gradient(linear,0% 40%,0% 70%,from(#F5F5F5),to(#F1F1F1));
*/

td {
	
	border: 1px solid black;
	
}

td.td_controller {
	
	border: 1px solid #FFFFFF;
	
}

th {
	
	border: 1px solid blue;
	
}

table.table_show {
	
	width: 60%;
}

table.table_show tr td.td_label_narrow {

	width:		100px;
	background:	#BEF781;
	
}
	
table.table_show tr td.td_value_mideum {

	width: 300px;
	
}
	
table.table_show tr td {
	
	border: 1px solid black;
	
}

a.link_alert {
	
	color: red;
	
}

div#ytplayer {
	
	float:	left;
	width:	60%;
	
}

div#controller, div#video_title {
	
	float:	right;
/*	align:	right;*/	
	width:	40%;
/*	width:	30%;*/
	
}

div#div_poslist {
	
	float:	right;
/*	height:	50%;*/
	width:	100%;
/*	height:	10%;*/
	height:	500px;
	overflow:	scroll;
	
	
}

table#table_poslist {

	/* REF http://www.w3schools.com/cssref/tryit.asp?filename=trycss_float4 */
	/* REF http://www.tagindex.com/stylesheet/table/float.html */
	float:	right;
/*	align:	right;*/	
/*	width:	40%;*/

	height:	40%;
/*	overflow:	auto;*/
}

table#table_poslist tr td {

/*	float:	right;*/
/*	align:	right; */
	border: 1px solid black;
/*	width:	30%;*/
	
}