@CHARSET "UTF-8";

table#t_texts_view {
	
	width: 70%;
	
}

table#t_texts_index tr th {
	
	border:	1px solid black;
	text-align:	center;
	
}

table#t_texts_index tr th.col_string {
	
	width: 50%;
}

table#t_texts_index tr td.time_label {
/*td.time_label {*/
	
	text-align:	center;
	
}

table#t_texts_view tr th {
	
	border: 1px solid black;
}

table#t_texts_view tr.col_string {
	
	
	
}

table#t_texts_view tr td {
	
	border: 1px solid black;
	
}

table#t_texts_view tr td.td_label {
	
	width:		10%;
	text-align:	center;
	
}

a.button {
    color: #4e4e4e;
    /*color: #6e6e6e;*/
    font: bold 20px Helvetica, Arial, sans-serif;
    text-decoration: none;
    padding: 7px 12px;
    position: relative;
    display: inline-block;
    text-shadow: 0 1px 0 #fff;
    -webkit-transition: border-color .218s;
    -moz-transition: border .218s;
    -o-transition: border-color .218s;
    transition: border-color .218s;
    background: #81BEF7;
    
    border: solid 1px #86B404;
    /*border: solid 1px #dcdcdc;*/
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    margin-right: 20px;
    cursor:pointer;
}

td {
	
	border: 1px solid black;
}

td.td_label {
	
/*	width:		10%;*/
	text-align:	center;
	
}

input#view_show_mecab {

/*	value:	'mecab';*/
	color: blue;
	width: 100px;
	font: bold 20px Helvetica, Arial, sans-serif;
}

